.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 800px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 100vh;
}

.title {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  color: #777;
  margin-bottom: 1rem;
}

.currencyRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.currencyColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48%;
  margin-top: 1rem;
}

.label {
  margin-bottom: 10px;
  font-weight: bold;
}

.selectWrapper {
  position: relative;
  width: 100%;
}

.select {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  appearance: none;
  background-color: #fff;
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
}

.selectArrow {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666;
}

.amountRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.amountColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48%;
}

.amountWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.amountInput {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  appearance: none;
  background-color: #fff;
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
}

.currencyCode {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  font-weight: bold;
}

.flag {
  position: absolute;
  right: 55px;
  top: 50%;
  transform: translateY(-50%);
}

.convertButton {
  display: block;
  margin: auto;
  padding: 10px 20px;
  background-color: #666;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.convertButton:hover {
  background-color: #555;
}

@media (max-width: 450px) {
  .amountRow,
  .currencyRow {
    flex-direction: column;
  }

  .amountColumn,
  .currencyColumn {
    width: 100%;
  }
}

.hr {
  color: #777;
  height: 1px;
  width: 100%;
  margin: 2rem;
}
